[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-bidir-dshot"]
	path = pico-bidir-dshot
	url = https://github.com/Ncerzzk/pico-bidir-dshot.git
